<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779847399145-u1pjaq7j4lsncgfjv83cmars3utepfn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779847399145-u1pjaq7j4lsncgfjv83cmars3utepfn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCkcTy8C_4nWMbdDUOuUTo2kgGUC2O2cjo</string>
	<key>GCM_SENDER_ID</key>
	<string>779847399145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David-Ibarra.InstaISIL</string>
	<key>PROJECT_ID</key>
	<string>proyecto-iphone-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-iphone-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779847399145:ios:feda5ae04f055b742d6278</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto-iphone-2020.firebaseio.com</string>
</dict>
</plist>